// Colors
$color-primary: #8f786c;
$color-secondary: #291F1E;
$color-bg: #f2edea;
$color-bg-darker: #c0bcbd;
$color-white: #fff;
$color-light: #eee;
$color-black: #000;

// length
$header-height: 10rem;