# python running file
__pycache__

# pycharm file
.idea

# sensitive data
key_data.json

# virtual enviroment folder
venv

# MacOS system file
.DS_Store

# node relative files and folder
node_modules/
package-lock.json
package.json