<!-- aboutme/autobiography.html -->
<h4><i class="far fa-comment-dots" aria-hidden="true"></i>　關於我啊...</h4>
<p>
      我是一個碩士畢業的社會小白，本科是化學工程，不過因為之前的研究領域是使用 AspenPlus® 軟體做製程模擬的，剛好自身對於程式有些興趣，
    因此有自學 python 這個程式語言，並且拿它來寫跟剛剛那個軟體做一些結合以及比較進階的應用，當然因為這語言的方便性，也去嘗試了像網路
    爬蟲、AI領域方面，甚至是現在這個寫部落格也是@@ 以前我的部落格是使用 Pelican 這個用 Python 編寫的靜態網頁生成器做的，不過最近有機會學習
    Django 這個網頁框架，就把原本部落格改寫看看當作我的期末報告了！<br>
      雖然學了一些程式，本人對自己的化工本業可是非常喜歡的呢，不然也不會從高中就開始念化工到研究所了 哈哈哈，希望之後可以在這領域好好
    走下去，並且學習更多新的事物與精進電腦程式方面的技能。
</p>
<!-- End aboutme/autobiography.html -->