.slideshow {
    position: relative;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        opacity: 0;
        transition: opacity 1s ease-in-out;

        &.active {
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }
    }
}


// .slideshow img.active {
//     opacity: 1;
//     transition: opacity 1s ease-in-out;
// }