{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Johnson & Eileen's Love Story</title>
    <!-- Place FontAwesome kit's code here -->
    <script src="https://kit.fontawesome.com/1aa695b259.js" crossorigin="anonymous"></script>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static "img/wedding_logo.png" %}" rel="icon">

    <!-- css -->
    <link rel="stylesheet" href="{% static "css\wedding.css" %}">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NBZVBJV');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <div class="header">
        <div class="header-title">
            Johnson & Eileen
        </div>
    </div>
    
    <div class="slideshow">
        {% for wedding_photo in wedding_photos %}
        <img src="{{ wedding_photo.large_url }}" alt="Image 1">
        {% endfor %}
    </div>
    
    <div class="gallery">
        {% for wedding_photo in wedding_photos %}
        <img src="{{ wedding_photo.large_url }}" alt="Image 1">
        {% endfor %}
    </div>

    <div class="footer">
        &copy; 2024 SSJ &middot; Powered by
        <a href="https://www.djangoproject.com/" target="_blank">Django</a>,
        <a href="https://fontawesome.com/" target="_blank">FontAwesome</a>
    </div>
    <script src="{% static "js\wedding.js" %}"></script>
</body>
</html>
