<!-- nav_group.html -->
<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home
            <span class="visually-hidden">(current)</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false">Blogging</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/">Articel</a>
            <a class="dropdown-item" href="/tags">Tags</a>
            <a class="dropdown-item" href="/series">Series</a>
            {#              <div class="dropdown-divider"></div>#}
            {#              <a class="dropdown-item" href="#">Separated link</a>#}
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
</ul>
<!-- End nav_group.html -->