<!-- aboutme.html -->
{% extends 'base.html' %}
{% block title %} - About Me{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <style>
            div.panel-default {box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px}
        </style>
        <div class="panel-heading">
            <h1 class="entry-title">About</h1>
        </div>
        <div class="panel-body">
            {% load static %}
            <p align="center"><img src="{% static "img\avatar.png" %}" width="300"></p>
            <h1 align="Center"> 沈孝錚 </h1>
            <h2 align="Center">Shen, Shiau-Jeng</h2>
        </div>
        <div class="panel-footer">
            <style>
                div.panel-footer {line-height: 35px}
            </style>
            <h4><i class="fas fa-graduation-cap" aria-hidden="true"></i>　學歷</h4>
            <ul>
                <li>國立臺灣大學化學工程研究所</li>
                <li>國立臺灣科技大學化學工程系</li>
                <li>臺北市立松山工農化工科</li>
            </ul>
            <h4><i class="far fa-heart" aria-hidden="true"></i>　興趣愛好</h4>
            <ul>
                <li>樂器演奏</li>
                <li>音樂欣賞</li>
                <li>閱讀專業書籍</li>
                <li>逛街</li>
                <li>寫code...</li>
            </ul>
            <h4><i class="far fa-comment-dots" aria-hidden="true"></i>　關於我啊...</h4>
            <p>
                  我是一個碩士畢業的社會小白，本科是化學工程，不過因為之前的研究領域是使用 AspenPlus® 軟體做製程模擬的，剛好自身對於程式有些興趣，
                因此有自學 python 這個程式語言，並且拿它來寫跟剛剛那個軟體做一些結合以及比較進階的應用，當然因為這語言的方便性，也去嘗試了像網路
                爬蟲、AI領域方面，甚至是現在這個寫部落格也是@@ 該部落格是使用 Pelican 這個用 Python 編寫的靜態網頁生成器，想說是用這語言寫的比
                較熟，或許會比較知道生成的機制吧~<br>
                  雖然學了一些程式，本人對自己的化工本業可是非常喜歡的呢，不然也不會從高中就開始念化工到研究所了 哈哈哈，希望之後可以在這領域好好
                走下去，並且學習更多新的事物與精進電腦程式方面的技能。
            </p>
        </div>
    </div>
{% endblock %}