<!-- article.html -->
{% extends 'base.html' %}
{% block title %} - {{ article.title }}{% endblock %}
{% block content %}
    {% load static %}
    <!-- Enable ckeditor -->
    <link href="{% static "ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai.css" %}" rel="stylesheet">
    <script src="{% static "ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js" %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <article id="article-page">
    <!-- article information -->
        <header class="page-header">
            <h1>
                <a href="{% url 'article-url' article.slug %}" rel="bookmark"
                   title="Permalink to {{ article.title }}">
                    {{ article.title }}
                </a>
            </h1>
        </header>
        <div class="entry-content">
            <div class="panel">
                <div class="panel-body">
                    <footer class="post-info">
                        <span class="label label-default">Date</span>
                        <span class="published">
                            <i class="fa fa-calendar"></i>
                            {% load tz %}
                            <time datetime="{{ article.isotime }}">{{ article.time }}</time>
                        </span>
                        <span class="label label-default">Tags</span>
                        {% for tag in article.tags %}
                            {% if forloop.last %}
                                <a href="{% url 'tag-url' tag.name %}">{{ tag.name }}</a>
                            {% else %}
                                <a href="{% url 'tag-url' tag.name %}">{{ tag.name }}</a>
                                /
                            {% endif %}
                        {% endfor %}
                    </footer>
                </div>
            </div>
        </div>

        <!-- article body -->
        {{ article.body|safe }}
        {% if article.series %}
            <h2>系列文章列表</h2>
            <div class="list-group">
                {% for post in articles_series %}
                    {% if post.title == article_now.title %}
                        <a href="{% url "article-url" post.slug %}" class="list-group-item active">{{ post.title }}</a>
                    {% else %}
                        <a href="{% url "article-url" post.slug %}" class="list-group-item">{{ post.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <hr>
        <h1>Comments</h1>
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

            var disqus_config = function () {
            {#this.page.url = "{% url 'article-url' article.slug %}";  // Replace PAGE_URL with your page's canonical URL variable#}
            this.page.identifier = "{{ article.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://ssjs-blog-django.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </article>
{% endblock %}