<!-- index.html -->
{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    {% load static %}
    <!-- Enable ckeditor -->
    <link href="{% static "ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai.css" %}" rel="stylesheet">
    <script src="{% static "ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js" %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <article id="article-page">
    <!-- article information -->
        <header class="page-header">
            <h1>
                <a href="https://shen-sj.github.io/articles/2021/02/07/shi-yong-ipadlai-xie-bu-luo-ge/" rel="bookmark"
                   title="Permalink to {{ article.title }}">
                    {{ article.title }}
                </a>
            </h1>
        </header>
        <div class="entry-content">
            <div class="panel">
                <div class="panel-body">
                    <footer class="post-info">
                        <span class="label label-default">Date</span>
                        <span class="published">
                            <i class="fa fa-calendar"></i>
                            {% load tz %}
                            <time datetime="{{ article.isotime }}">{{ article.time }}</time>
                        </span>
                        <span class="label label-default">Tags</span>
                        {% for tag in article.tags %}
                            {% if forloop.last %}
                                <a href="/">{{ tag.name }}</a>
                            {% else %}
                                <a href="/">{{ tag.name }}</a>
                                /
                            {% endif %}
                        {% endfor %}
                    </footer>
                </div>
            </div>
        </div>

        <!-- article body -->
        {{ article.body|safe }}
    </article>
{% endblock %}