<!-- content.html -->
<article>
    <h2><a href="https://shen-sj.github.io/articles/2021/02/07/shi-yong-ipadlai-xie-bu-luo-ge/">使用iPad來寫部落格</a></h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i>
                <time datetime="2021-02-07T00:00:00+00:00"> 週日 07 二月 2021</time>
            </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/ipad">iPad</a>
            /
            <a href="https://shen-sj.github.io/tag/markdown">markdown</a>
            /
            <a href="https://shen-sj.github.io/tag/blog">blog</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>也是好久沒有寫部落格了呢！唉~~人都是懶惰的，撰寫方式麻煩就是會懶得寫，我用 Pelican 這個 Python 靜態網頁生成器寫部落格，我都要坐在電腦前面，打開我的 IDE，等待許久⋯⋯</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2021/02/07/shi-yong-ipadlai-xie-bu-luo-ge/">more ...</a>
    </div>
</article>

<hr/>

<article>
    <h2>
        <a href="https://shen-sj.github.io/articles/2020/09/20/ba-intel-fortran-gua-zai-aspenplus-5jian-li-chao-jian-dan-fortran-fan-ying-shi-bing-zhi-xing/">把
            Intel Fortran 掛在 AspenPlus （5）建立超簡單 Fortran 反應式並執行</a></h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i>
                <time datetime="2020-09-20T00:00:00+00:00"> 週日 20 九月 2020</time>
            </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/intel">Intel</a>
            /
            <a href="https://shen-sj.github.io/tag/fortran">Fortran</a>
            /
            <a href="https://shen-sj.github.io/tag/aspenplus">AspenPlus</a>
            /
            <a href="https://shen-sj.github.io/tag/aspentech">AspenTech</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>經過了這麼長的流程，我們的電腦終於準備好可以掛 Fortran 的檔案給 AspenPlus 跑了，那這篇會用 Fortran 寫一個超簡單的動力式、透過 AspenPlus 編譯、建立 AspenPlus
            模擬檔案、掛到 AspenPlus 上並且成功執行！</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2020/09/20/ba-intel-fortran-gua-zai-aspenplus-5jian-li-chao-jian-dan-fortran-fan-ying-shi-bing-zhi-xing/">more
            ...</a>
    </div>
</article>

<hr/>

<article>
    <h2>
        <a href="https://shen-sj.github.io/articles/2020/09/04/ba-intel-fortran-gua-zai-aspenplus-4geng-xin-setcompiler-lie-biao/">把
            Intel Fortran 掛在 AspenPlus （4）更新 SetCompiler 列表</a></h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i>
                <time datetime="2020-09-04T00:00:00+00:00"> 週五 04 九月 2020</time>
            </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/intel">Intel</a>
            /
            <a href="https://shen-sj.github.io/tag/fortran">Fortran</a>
            /
            <a href="https://shen-sj.github.io/tag/aspenplus">AspenPlus</a>
            /
            <a href="https://shen-sj.github.io/tag/aspentech">AspenTech</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>終於把該安裝的東西給安裝好了，不過我們的 AspenPlus 還不知道你安裝好了沒，需要透過<strong>Set Compiler</strong>告訴 Aspen+...</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2020/09/04/ba-intel-fortran-gua-zai-aspenplus-4geng-xin-setcompiler-lie-biao/">more
            ...</a>
    </div>
</article>

<hr/>

<article>
    <h2>
        <a href="https://shen-sj.github.io/articles/2020/09/02/ba-intel-fortran-gua-zai-aspenplus-3an-zhuang-intel-fortran/">把
            Intel Fortran 掛在 AspenPlus （3）安裝 Intel Fortran</a></h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i>
                <time datetime="2020-09-02T00:00:00+00:00"> 週三 02 九月 2020</time>
            </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/intel">Intel</a>
            /
            <a href="https://shen-sj.github.io/tag/fortran">Fortran</a>
            /
            <a href="https://shen-sj.github.io/tag/aspenplus">AspenPlus</a>
            /
            <a href="https://shen-sj.github.io/tag/aspentech">AspenTech</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>在你的 Intel Fortran 申請好了與 Visual Studio 也安裝好了後我們就可以來安裝 Intel Fortran Compiler 了...</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2020/09/02/ba-intel-fortran-gua-zai-aspenplus-3an-zhuang-intel-fortran/">more
            ...</a>
    </div>
</article>

<hr/>

<article>
    <h2>
        <a href="https://shen-sj.github.io/articles/2020/09/01/ba-intel-fortran-gua-zai-aspenplus-2an-zhuang-visual-studio/">把
            Intel Fortran 掛在 AspenPlus （2）安裝 Visual Studio</a></h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
            <i class="fa fa-calendar"></i>
            <time datetime="2020-09-01T00:00:00+00:00"> 週二 01 九月 2020</time>
        </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/intel">Intel</a>
            /
            <a href="https://shen-sj.github.io/tag/fortran">Fortran</a>
            /
            <a href="https://shen-sj.github.io/tag/visual-studio">Visual Studio</a>
            /
            <a href="https://shen-sj.github.io/tag/aspenplus">AspenPlus</a>
            /
            <a href="https://shen-sj.github.io/tag/aspentech">AspenTech</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>上一篇文章教了怎麼申請 Intel Fortran Compiler 免費教育版，再來就是要準備安裝了！不過在安裝 Fortran 前，我們先來安裝 Visual Studio...</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2020/09/01/ba-intel-fortran-gua-zai-aspenplus-2an-zhuang-visual-studio/">more
            ...</a>
    </div>
</article>

<hr/>

<article>
    <h2>
        <a href="https://shen-sj.github.io/articles/2020/08/31/ba-intel-fortran-gua-zai-aspenplus-1shen-qing-intel-jiao-yu-mian-fei-zhang-hao/">把
            Intel Fortran 掛在 AspenPlus （1）申請 Intel 教育免費帳號</a></h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i>
                <time datetime="2020-08-31T00:00:00+00:00"> 週一 31 八月 2020</time>
            </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/intel">Intel</a>
            /
            <a href="https://shen-sj.github.io/tag/fortran">Fortran</a>
            /
            <a href="https://shen-sj.github.io/tag/aspenplus">AspenPlus</a>
            /
            <a href="https://shen-sj.github.io/tag/aspentech">AspenTech</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>我們在跑 AspenPlus 模擬的時候，如果像是動力式非常複雜但內建的反應蒸餾塔只能支持 Power law，那就只能自己掛 Fortran 上...</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2020/08/31/ba-intel-fortran-gua-zai-aspenplus-1shen-qing-intel-jiao-yu-mian-fei-zhang-hao/">more
            ...</a>
    </div>
</article>

<hr/>

<article>
    <h2><a href="https://shen-sj.github.io/articles/2020/07/26/yong-python-jiang-aspenplus-lian-jie-qi-lai/">用 Python 將
        AspenPlus 連接起來！！</a></h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i>
                <time datetime="2020-07-26T13:00:00+00:00"> 週日 26 七月 2020</time>
            </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/aspenplus">AspenPlus</a>
            /
            <a href="https://shen-sj.github.io/tag/aspentech">AspenTech</a>
            /
            <a href="https://shen-sj.github.io/tag/python">Python</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>最近被人家問要怎麼用 Python 把 AspenPlus 連接起來，突然想到其實我這部落格的創立就是想說寫一些 AspenPlus/Dynamics ...</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2020/07/26/yong-python-jiang-aspenplus-lian-jie-qi-lai/">more
            ...</a>
    </div>
</article>

<hr/>

<article>
    <h2><a href="https://shen-sj.github.io/articles/2020/06/05/fiddler-wu-fa-zhua-qu-feng-bao-zhi-port-zhan-yong/">Fiddler
        無法抓取封包之 port 占用...</a></h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i>
                <time datetime="2020-06-05T22:30:00+00:00"> 週五 05 六月 2020</time>
            </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/fiddler">Fiddler</a>
            /
            <a href="https://shen-sj.github.io/tag/cmd">CMD</a>
            /
            <a href="https://shen-sj.github.io/tag/windows">Windows</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>最近在寫網路爬蟲有用到 Fiddler 抓包軟體幫我看看用自己寫的程式送出與接收到的封包內容與直接用瀏覽器做這些動作有什麼不一樣...</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2020/06/05/fiddler-wu-fa-zhua-qu-feng-bao-zhi-port-zhan-yong/">more
            ...</a>
    </div>
</article>

<hr/>

<article>
    <h2>
        <a href="https://shen-sj.github.io/articles/2020/03/29/yong-softetherjia-she-zi-ji-de-vpn/">用SoftEther架設自己的VPN</a>
    </h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i>
                <time datetime="2020-03-29T15:30:00+00:00"> 週日 29 三月 2020</time>
            </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/vpn">VPN</a>
            /
            <a href="https://shen-sj.github.io/tag/softether-vpn">SoftEther VPN</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>一些可憐的~~菸酒生~~在家也想要查查文獻、看看paper，但學校又沒有提供VPN的話，那可是一件非常痛苦的事情啊...，難道只能去實驗室用電腦了嗎?!</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2020/03/29/yong-softetherjia-she-zi-ji-de-vpn/">more ...</a>
    </div>
</article>

<hr/>

<article>
    <h2>
        <a href="https://shen-sj.github.io/articles/2020/03/28/yong-pelicangao-bu-luo-ge-yu-dao-de-python-importmo-zu-wen-ti/">用Pelican搞部落格遇到的python
            import模組問題...</a></h2>
    <div class="well well-sm">
        <footer class="post-info">
            <span class="label label-default">Date</span>
            <span class="published">
                <i class="fa fa-calendar"></i>
                <time datetime="2020-03-28T23:00:00+00:00"> 週六 28 三月 2020</time>
            </span>
            <span class="label label-default">Tags</span>
            <a href="https://shen-sj.github.io/tag/python">Python</a>
            /
            <a href="https://shen-sj.github.io/tag/pelican">Pelican</a>
        </footer><!-- /.post-info -->
    </div>
    <div class="summary">
        <p>最近一直在練習用Pelican寫部落格，不過之前我設定專案的時候好像沒設定好，publishconf.py裡面沒有把pelicanconfi.py裡的設定給匯入...</p>
        <a class="btn btn-default btn-xs"
           href="https://shen-sj.github.io/articles/2020/03/28/yong-pelicangao-bu-luo-ge-yu-dao-de-python-importmo-zu-wen-ti/">more
            ...</a>
    </div>
</article>

<hr/>
