<!-- index.html -->
{% extends 'base.html' %}
{% block content %}
    {% for article in articles %}
        <article>
            <h2><a href="/article/{{ article.slug }}">{{ article.title }}</a></h2>
            <div class="well well-sm">
                <footer class="post-info">
                    <span class="label label-default">Date</span>
                    <span class="published">
                        <i class="fa fa-calendar"></i>
                        {% load tz %}
                        <time datetime="{{ article.isotime }}">{{ article.time }}</time>
                    </span>
                    <span class="label label-default">Tags</span>
                    {% for tag in article.tags %}
                        {% if forloop.last %}
                            <a href="/">{{ tag.name }}</a>
                        {% else %}
                            <a href="/">{{ tag.name }}</a>
                            /
                        {% endif %}
                    {% endfor %}
                </footer>
            </div>
            <div class="summary">
                <p>{{ article.abstract }}</p>
                <a class="btn btn-default btn-xs" href="/article/{{ article.slug }}">more ...</a>
            </div>
        </article>

        <hr/>
    {% endfor %}
{#    {% include "article_list.html" %}#}
{% endblock %}