<!-- search.html -->
{% extends 'base.html' %}
{% block title %} - {{ title }}: {{ item_name }}{% endblock %}
{% block content %}
    <div class="card mb-3 query-result">
        <div class="card-header">
            <h2>{{ title }}: {{ item_name }}</h2>
        </div>
        <div id="query-results" class="card-body">
            {% for article in articles %}
                {% include 'component/article/article_brief.html' %}
                {% empty %}
                <h2>找不到{{ item_name }}相關的文章...</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}