<!-- sidebar.html -->
{% load static %}
<aside>
    <div class="d-flex flex-column justify-content-center align-items-center mb-3">
        <img width="100%" style="max-inline-size: 300px" src="{% static "img\avatar.png" %}"/>
        <h5><strong>About SSJ</strong></h5>
        一個技能點數亂點的化工人...
    </div>

    <!-- Sidebar -->
    <div id="infobar" class="card">
        <ul class="list-group">
            <!-- Sidebar/My Connections -->
            <li class="list-group-item justify-content-between align-items-center">
                <i class="fas fa-feather"></i>
                My Connections
                <ul class="list-group">
                    <li class="list-group-item justify-content-between align-items-center">
                        <a href="https://www.facebook.com/profile.php?id=100002730226702">
                            <i class="fab fa-facebook"></i>Facebook
                        </a>
                    </li>
                    <li class="list-group-item justify-content-between align-items-center">
                        <a href="https://www.instagram.com/shen_hsiao_jeng/">
                            <i class="fab fa-instagram"></i>Instegram
                        </a>
                    </li>
                    <li class="list-group-item justify-content-between align-items-center">
                        <a href="https://github.com/Shen-SJ">
                            <i class="fab fa-github"></i>Github
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Sidebar/My Connection-->
            <!-- Sidebar/Recent Posts-->
            <li class="list-group-item justify-content-between align-items-center">
                <i class="fas fa-feather"></i>
                Recent Posts
                <ul class="list-group" id="recentposts">
                    {% for post in recent_articles %}
                        <li class="list-group-item justify-content-between align-items-center"><a href="{% url 'article-url' post.slug %}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <!-- End Sidebar/Recent Posts-->
            <!-- Sidebar/Tag Cloud-->
            <li class="list-group-item justify-content-between align-items-center">
                <i class="fas fa-feather"></i>
                Tags
                <ul id="tags" class="d-inline-flex flex-row list-group ps-3" >
                    {% for tag_name, tag_freq in tags_classified.items %}
{#                        <li class="list-group-item d-flex justify-content-between align-items-end ps-0 pe-1 pb-1 tag-{{ tag_class }}">#}
                        <li class="list-group-item d-flex justify-content-between align-items-end ps-0 pe-1 pb-1">
                            <a class="badge bg-secondary" href="{% url 'tag-url' tag_name %}">
                                {{ tag_name }}
                                <span class="badge rounded-pill bg-dark">{{ tag_freq }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <!-- End Sidebar/Tag Cloud-->
            <!-- Sidebar/Links-->
            <li class="list-group-item justify-content-between align-items-center">
                <i class="fas fa-feather"></i>
                Links
                <ul class="list-group" id="links">
                    <li class="list-group-item justify-content-between align-items-center"><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
                    <li class="list-group-item justify-content-between align-items-center"><a href="http://python.org/" target="_blank">Python.org</a></li>
                    <li class="list-group-item justify-content-between align-items-center"><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
                    <li class="list-group-item justify-content-between align-items-center"><a href="https://fontawesome.com/" target="_blank">FontAwesome</a></li>
                </ul>
            </li>
            <!-- End Sidebar/Tag Cloud-->
        </ul>
    </div>
    <!-- End Sidebar -->
</aside>
