//_root.all.scss
:root {
  //for dark theme variables
  --bs-dark-blue: #375a7f;
  --bs-dark-indigo: #6610f2;
  --bs-dark-purple: #6f42c1;
  --bs-dark-pink: #e83e8c;
  --bs-dark-red: #e74c3c;
  --bs-dark-orange: #fd7e14;
  --bs-dark-yellow: #f39c12;
  --bs-dark-green: #00bc8c;
  --bs-dark-teal: #20c997;
  --bs-dark-cyan: #3498db;
  --bs-dark-white: #fff;
  --bs-dark-gray: #888;
  --bs-dark-gray-dark: #303030;
  --bs-dark-gray-100: #f8f9fa;
  --bs-dark-gray-200: #ebebeb;
  --bs-dark-gray-300: #dee2e6;
  --bs-dark-gray-400: #ced4da;
  --bs-dark-gray-500: #adb5bd;
  --bs-dark-gray-600: #888;
  --bs-dark-gray-700: #444;
  --bs-dark-gray-800: #303030;
  --bs-dark-gray-900: #222;
  --bs-dark-primary: #375a7f;
  --bs-dark-secondary: #444;
  --bs-dark-success: #00bc8c;
  --bs-dark-info: #3498db;
  --bs-dark-warning: #f39c12;
  --bs-dark-danger: #e74c3c;
  --bs-dark-light: #adb5bd;
  --bs-dark-dark: #303030;
  --bs-dark-primary-rgb: 55, 90, 127;
  --bs-dark-secondary-rgb: 68, 68, 68;
  --bs-dark-success-rgb: 0, 188, 140;
  --bs-dark-info-rgb: 52, 152, 219;
  --bs-dark-warning-rgb: 243, 156, 18;
  --bs-dark-danger-rgb: 231, 76, 60;
  --bs-dark-light-rgb: 173, 181, 189;
  --bs-dark-dark-rgb: 48, 48, 48;
  --bs-dark-white-rgb: 255, 255, 255;
  --bs-dark-black-rgb: 0, 0, 0;
  --bs-dark-body-color-rgb: 255, 255, 255;
  --bs-dark-body-bg-rgb: 34, 34, 34;
  --bs-dark-font-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-dark-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-dark-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-dark-body-font-family: var(--bs-dark-font-sans-serif);
  --bs-dark-body-font-size: 1rem;
  --bs-dark-body-font-weight: 400;
  --bs-dark-body-line-height: 1.5;
  --bs-dark-body-color: #fff;
  --bs-dark-body-bg: #222;

  // for flat theme variables
  --bs-flat-blue: #2c3e50;
  --bs-flat-indigo: #6610f2;
  --bs-flat-purple: #6f42c1;
  --bs-flat-pink: #e83e8c;
  --bs-flat-red: #e74c3c;
  --bs-flat-orange: #fd7e14;
  --bs-flat-yellow: #f39c12;
  --bs-flat-green: #18bc9c;
  --bs-flat-teal: #20c997;
  --bs-flat-cyan: #3498db;
  --bs-flat-white: #fff;
  --bs-flat-gray: #95a5a6;
  --bs-flat-gray-dark: #343a40;
  --bs-flat-gray-100: #f8f9fa;
  --bs-flat-gray-200: #ecf0f1;
  --bs-flat-gray-300: #dee2e6;
  --bs-flat-gray-400: #ced4da;
  --bs-flat-gray-500: #b4bcc2;
  --bs-flat-gray-600: #95a5a6;
  --bs-flat-gray-700: #7b8a8b;
  --bs-flat-gray-800: #343a40;
  --bs-flat-gray-900: #212529;
  --bs-flat-primary: #2c3e50;
  --bs-flat-secondary: #95a5a6;
  --bs-flat-success: #18bc9c;
  --bs-flat-info: #3498db;
  --bs-flat-warning: #f39c12;
  --bs-flat-danger: #e74c3c;
  --bs-flat-light: #ecf0f1;
  --bs-flat-dark: #7b8a8b;
  --bs-flat-primary-rgb: 44, 62, 80;
  --bs-flat-secondary-rgb: 149, 165, 166;
  --bs-flat-success-rgb: 24, 188, 156;
  --bs-flat-info-rgb: 52, 152, 219;
  --bs-flat-warning-rgb: 243, 156, 18;
  --bs-flat-danger-rgb: 231, 76, 60;
  --bs-flat-light-rgb: 236, 240, 241;
  --bs-flat-dark-rgb: 123, 138, 139;
  --bs-flat-white-rgb: 255, 255, 255;
  --bs-flat-black-rgb: 0, 0, 0;
  --bs-flat-body-color-rgb: 33, 37, 41;
  --bs-flat-body-bg-rgb: 255, 255, 255;
  --bs-flat-font-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-flat-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-flat-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-flat-body-font-family: var(--bs-flat-font-sans-serif);
  --bs-flat-body-font-size: 1rem;
  --bs-flat-body-font-weight: 400;
  --bs-flat-body-line-height: 1.5;
  --bs-flat-body-color: #212529;
  --bs-flat-body-bg: #fff;
}